body {
  background-color: lightblue;
}

h1{
  text-align: left;
  font-family: "Gill Sans", sans-serif;
  text-decoration: underline;
}

p{
  text-align: left;
  padding-right: 20px;
  font-family: "Times New Roman", Times, serif;
}
