body {
  background-image: url(../images/pink_dust.png);
}

.jumbotron{
  padding-top: 0px;
  padding-bottom: 2px;
  background-color: #83DDFC;
  margin-bottom:0;
}

.navbar-brand{
  font-family: 'Poiret One', cursive;
}
.container {
    background: #F8FAFB;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer {
    bottom:0;
    position: relative;
    margin-top: 200px;
    height:60px;
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #2E2E2E;
    color: #fff;
}
