{% extends 'base.html' %}
{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/userprofile.css' %}">
</head>
  {% block content %}
  <br>
  <div class="btn-group" role="group" aria-label="Basic example">
    <a href="{% url 'view_profile' %}" class="btn btn-secondary disabled">Profile</a>
    <a href="{% url 'show_selected_plan' %}" class="btn btn-secondary">Plan</a>
    <a href="{% url 'saved_license' %}" class="btn btn-secondary">Driving license</a>
    <a href="{% url 'show_saved_card' %}" class="btn btn-secondary">Card</a>
    <a href="{% url 'booking_history' %}" class="btn btn-secondary">History</a>
  </div>
  <br><br>
    {% for p in pr %}
      <div class="card text-primary border-success mx-auto" style="width: 30rem;">
        <div class="card-header"><h>Your profile
           <a class="btn btn-primary" href="{% url 'edit_profile' p.pk %}" role="button">Edit profile</a></h></div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <img class="card-img-top" src="{{ p.profile_pic.url }}" alt="Card image cap">
              </div>
              <div class="col-sm">
                <p class="card-text text-left"><strong>Name: </strong>{{ user.first_name }} {{ user.last_name }}</p>
                <p class="card-text text-left"><strong>Mobile: </strong>{{ p.mobile }}</p>
                <p class="card-text text-left"><strong>city: </strong>{{ p.city }}</p>
                <p class="card-text text-left"><strong>building no: </strong>{{ p.building_no }}</p>
                <p class="card-text text-left"><strong>state: </strong>{{ p.state }}</p>
                <p class="card-text text-left"><strong>ZIP: </strong>{{ p.zip }}</p>
                <p class="card-text text-left"><strong>Country: </strong>{{ p.country }}</p>
                <p class="card-text text-left"><strong>Sex: </strong>{{ p.sex }}</p>
              </div>
            </div>
          </div>
      </div>
    {% endfor %}
  {% endblock %}
